body.signin-body {
  background-color: #e6f2ff;
}

/* use .container instead container bc it is a class itself and not an element */
.container.signin-container {
  margin-top: 8%;
}

.card.signin-card {
  padding: 30px 0px 20px;
  background-color: #f4f4f4;
  /* box shadow: vertical horizontal blur spread */
  /* rgba( red, blue, green, opacity <ranges from 0-1> ) */
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  /* adding webkit for chrome and safari ... moz for firefox */
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

img.signin-img {
  /* rem: refers to the root element (2 times larger than the root font of the browser */
  /* padding: top right bottom left */
  padding: 0 2rem 2rem;
  margin: auto;
  /* display: block makes the content stacks on top of each other */
  display: block;
  width: 50%;
}

form.signin-form {
  /* this reduces the width of the form taking up the full length of the card */
  max-width: 350px;
  margin: auto;
}

button.signin-btn {
  color: #ffffff;
  background-color: #902020;
  width: 100%;
  margin-bottom: 1rem;
}

/* i want to have "need help?" align on the right of the form-check ... not sure how */
a.signin-help {
  text-decoration: none;
  text-align: right;
  display: inline-block;
}

a.create-new-account {
  font-size: 1.2rem;
  text-align: center;
  /* adding a display: block allows this text to be centered  */
  display: block;
  margin-top: 15px;
}
